# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GTFO_V0.0.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\game2\Documents\GitHub\GTFO_V0.0\.idea\.idea.GTFO_V0.0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
